body {
  background-color: #dbeafe;

}

h1 {
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 100px;
  font-weight: normal;
}

p {
  font-family: Calibri;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.form-container {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 10px 15px lightgrey;  /* top, left-right, bottom */
  width: 320px;
  margin: auto;
}

#cubic-form {
  display: flex; /* refer to w3s, improves style */ 
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="text"] {
  border-radius: 5px;
  border: 1.5px solid black;
}

input[type="text"]:focus {
  box-shadow: 0px 2px 2px lightgrey;
}

input[type="submit"] {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;

}

input[type="submit"]:hover {
  background-color: lightblue;
}